{{ define "main" }}
<article class="post-content">
  <h1>{{ .Title }}</h1>
  {{ range sort (where site.RegularPages "Section" "podcasts") "Date" "desc" }}
    {{ $episode := . }}
    {{ $src := $episode.Params.sources }}
    {{ with $episode.Resources.GetMatch $src }}
      <h3>{{ .Date.Format "Jan 2, 2006" }}</h3>
      <h6>#{{- .Params.season }}.{{- .Params.episode }}</h6>
      {{ $content := .Content | markdownify }}
      {{ $content = $content | replaceRE "<a href=" " <a target=\"_blank\" href=" }}
      {{ $content | safeHTML }}
    {{ end }}
  {{ end }}
</article>
{{ end }}
